@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --black: rgb(15, 44, 41);
    --white: white;
    --top-offset: 50px;
    --blue: rgb(19, 211, 254);
}

*{
    -webkit-user-drag: none;
    user-select: none;
}

body{
    overflow: hidden;
}

input{
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.54);
    text-shadow: 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Lato', serif;
}

.url-input{
    padding-left: 20px;
    border-right: 1px #eaf7ff solid;
    width: 38%;
    text-align: left;
}

header{
    position: relative;
    display: flex;
    justify-content: start;
    box-shadow: 0 1px 5px 0 rgba(41,85,115,.21);
    z-index: 2;
}

.mainframe{
    width: 100vw;
    height: 100vh;
}

.mainframe iframe{
    width: 100%;
    height: calc(100vh - var(--top-offset));
    position: absolute;
    left: 0;
    top: var(--top-offset);
    user-select: none;
    box-shadow: 0 5px 8px rgba(0,0,0,0.24);
}

.drag-resizer {
    position: absolute;
    top: calc(50% - 75px);
    left:1px;
    background-color: var(--black);
    height: 150px;
    width: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.24);
    cursor: ew-resize;
}

.line {
    background-color: var(--white);
    width: 1px;
    height: 50%;
    margin: 1px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.24);
}

.return-left{
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: calc(50% - 15px);
    cursor: pointer;
    color: var(--black)
}

.mid-panel{
    display: inline-flex;
    width: 25%;
    justify-content: space-between;
    border-right: 1px #eaf7ff solid;
}

.right-panel{
    display: inline-flex;
    justify-content: space-around;
    width: 37%;
    align-items: center;
}

.problems{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    width: 200px;
}

.problems span{
    font-family: 'Lato', serif;
    color: var(--black);
    line-height: 30px;

}

.error-icon{
    color: #fd5353;
}

.warning-icon{
    color: #ff8f00;
}

.common-screens{
    display: inline-flex;
    justify-content: space-around;
    width: 55%;
    font-size: 30px;
    height: 85%;
    align-self: flex-end;
}

.selected{
    border-bottom: var(--blue) 3px solid;
}

.screen-size{
    width: 120px;
    text-align: center;
    font-size: 34px;
}

.screen-button{
    color: var(--black);
    cursor: pointer;
    
}

.selected > *{
    color: var(--blue);
}

.screen-button:hover{
    color: var(--blue);
}